* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #20581e
}

/*--------------NAV---------------*/
nav{
    background-color: #cb1212;
}
ul{
  background-color: #cb1212;
}
li{
  display: inline-block;
  padding: 20px;
}

a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color: #c6de0c;
}
span{
  color: red;
  margin: 0 100px;
}
/*---------imagenespanda---------------*/

#section{
    margin-left: 10%
    width: 80%;
}

#imagenes div{
    display: inline-block;
    width: 15%;
    padding: 5px;
    margin: 20px 20px 30px 0;
    background-color: white;
}

#imagenes div img{
    width: 100%;
}

/*------------Botones-------------------*/

#botones{
    margin: 20px 20px 20px 0;
    width: 80%     
}

.boton{
    background-color: #cb1912;
    color: white;
    display: inline-block;
    border-width: 0;
    width: 30%
    padding: 5px;
    margin-right: 10px;
}

.boton:hover{
    background-color: #bc3d38;
    
}












